[frontends]
  [frontends.default]
  backend = "default"
  [frontends.default.routes.default]
  rule = "Host: aspnetframeworkdemo.echorand.me"

  
[backends]
  [backends.default]
    [backends.default.servers.server1]
    url = "http://${siteIP}"