[frontends]
  [frontends.site1]
  backend = "site1"
  [frontends.site1.routes.site1]
  rule = "Host: site1.echorand.me"

  
[backends]
  [backends.site1]
    [backends.site1.servers.server1]
    url = "http://${site1}"